:root{
    
    --light-100: #FFFFFF;
    --dark-30: #E5E6E9;
    --dark-90: #565859;
    --beige-20: #FAF8F4;
    --beige-30: #F2EBDF;
    --beige-50: #CEC9C4;
    --brown-20: #DBD1C6;
    --brown-50: #756262;
    --brown-60: #666161;
    --brown-70: #505050;
    --brown-80: #645E5E;
    --orange-20: #F6CFA0;
    --orange-70: #F9AA4D;

}