
.container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
}

.header{
    font-family: 'Merriweather', serif;
    font-size: 38px;
    font-weight: bold;
    color: #645E5E;
}

.description{
    margin-top: 0dp;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #6F7375;
    margin-top: -14px;
}

.bar{
    height: 9px;
    width: 127px;
    background-color: #FFDAAF;
    margin-top: 25px;
}
