.container{
    width: 85%;
    display: grid;
    justify-items: center;
    justify-content: start;
    align-items: center;
    grid-template-columns: repeat( auto-fit, 240px );
    margin-left: 10%;
    margin-right: 5%;
    
}
