@import '../styles/colors.css';

.header{
    font-family: 'Merriweather', Georgia, serif;
    color: var(--brown-80);
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}