.container{
    width: 85%;
    display: grid;
    justify-items: center;
    justify-content: start;
    align-items: center;
    grid-template-columns: repeat( auto-fit, 240px );
    margin-left: 10%;
    margin-right: 5%;
    
}

.outercontainer{
    width: 100%;
    background-color: #FAF8F4;
    padding-top: 2%;
    margin-bottom: 50px;
}
