.container{
    width: 450px;
    height: 40%;
    
}


.textHeader{
    width: 60%;
    margin-left: 10%;
}

.header{
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-weight: 700;
    color: #645E5E;
}

.description{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #6F7375;
    margin-top: 4%;
}

.bar{
    height: 9px;
    width: 127px;
    background-color: #FFDAAF;
}