.container{
    background-color: #F2EBDF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.link{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#A99A8C;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.text{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:#756262;
}

@media only screen and (max-width: 500px) {
    .text {
        display: none;
    }

    .img{
        margin-right: 0;
    }
}

.img{
    margin-right: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
}